ul{
    margin-right:9%;
    padding: 0%;
    display: inline-block;
    white-space: nowrap;
}
.header{
    text-align: center;
    margin-right:17%;
}
table{
    display:block;
    text-align: center;
    margin:20px auto;
}
.pricing{
    height:50vh;
    padding: 5vh;
}
#strength{
    background-color: #11024B;
    padding:30px;
}
h1{
    color: azure;
    font-size:42px;
}
h2{
    margin-top:0px;
}
li{
    margin: inherit;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
#employees{
    width:640px;
    height: 335px;
    margin-right:8vw;
    float:right;
}
#vacancy{
    white-space: normal; 
    display:block;
    text-align: right;
    list-style:armenian;
}
#vacancies{
    height: 500px;
}
.promotion {
    margin-top:8%;
    margin-left:18%;
    text-align: left;
}
.promotion h1{
    font-size:64px;
    font-style: oblique;
    background-color: darkslateblue;
    width: fit-content;
}
.promotion p{
    width: 800px;
    font-size: 36px;
    background-color: darkslateblue;
}
p{
    word-wrap: break-word;
    line-height: 48px;
}
.individual{
   background-color: maroon;
}
li+ul{
    left:50%;
}
.start-screen{
    text-align: left;
    background-size: cover;
    overflow-x:scroll;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.services{
    margin-bottom: 3%;
    margin-right:3%;
}
p{
    font-size: 24px;
    margin:0;
}
.textmain p{
    display:inline-block;
    margin-top:150px;
    font-size:24px;
    word-wrap: break-word;
    line-height: 48px;
    text-align: center;
}
p.textside{
    font-size:24px;
    word-wrap: break-word;
}
#privacy{
}
.textcols{
    overflow: hidden;
}
.textmain {
    display:inline-block;
    height:530px;
    width: 50%;
}
.textside {
    float: right;
    height: 530px;
    vertical-align: middle;
    width: 50%;
}
.footitem
{
    display: inline-block;
    white-space: nowrap;
    margin-left:10%;
    vertical-align: top;
}
.footitem:first-child
{
    margin-left:0px;
}
.footer{
    background-color: #11024B;
}
.footer h3{
    font-size:20px;
}
.footer p{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
body {
    background-color: #09002B ;
    text-align: center;
    color: azure;
    margin:0;
    padding:0;
}